body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 8fr;
    height: 100vh;
    width: 100%;
    background-color: #F4F3F5;
    box-sizing: border-box;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#delete-warning[open] {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    align-self: center;
    padding: 32px;
    gap: 16px;
}

#delete-warning::backdrop {
    background-color: black;
    opacity: 0.7;
}

.warning-text {
    color: darkred;
    font-size: 32px;
    grid-area: 1 / 1 / 2 / 3;
}

.warning-confirmation {
    font-size: 20px;
    grid-area: 2 / 1 / 3 / 3;
}

.delete-book {
    background-color: red;
    border: 2px solid darkred;
    font-size: 18px;
}

.delete-book:hover {
    background-color: darkred;
    color: #F4F3F5;
    cursor: pointer;
}

.keep-book {
    background-color: lightgray;
    border: 2px solid gray;
    font-size: 18px;
}

.keep-book:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}

.header {
    background-color: #3A4A5A;
    color: #F4F3F5;
    z-index: 20;
    box-shadow: 0 8px 16px 8px #00000088;
    font-size: 64px;
    padding-top: 16px;
    padding-bottom: 8px;
    text-align: center;
}

#btn-new-book {
    width: 256px;
    height: 4rem;
    margin-top: 32px;
    margin-bottom: 48px;
    justify-self: center;
    font-size: 28px;
    background-color: #6E6571;
    border: 4px solid #83A1AA;
    border-radius: 8px;
    color: #F4F3F5;
    transition: 0.25s;
}

#btn-new-book:hover {
    cursor: pointer;
    background-color: #6E6571;
    border: 4px solid #94B2BB;
    color: #A5C3CC;
}

#btn-new-book:active {
    background-color: #7C7A80;
}

.container {
    background-color: #F3F1ED;
    display: grid;
    padding: clamp(1rem, 128px, 4rem);
    padding-top: 0px;
    grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
    overflow: auto;
    gap: 36px;
}

.book-container {
    border: 4px solid #6E6571;
    border-radius: 8px;
    min-width: 300px;
    background-color: #7C7A80;
    color: #F4F3F5;
    height: 256px;
    text-align: center;
    padding: 12px;
    display: grid;
    gap: 8px;
    grid-template: 1fr 1fr 1fr / 80px 1fr 1fr 1fr 1fr;
    align-items: center;
}

.label {
    font-size: 18px;
}

.book-title {
    font-size: 24px;
    font-weight: 600;
    grid-column: 2 / 6;
}

.book-author {
    font-size: 20px;
    font-weight: 500;
    grid-column: 2 / 4;
}

.book-pages {
    font-size: 20px;
    font-weight: 500;
}

#read-status {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-left: 32px;
    margin-right: 32px;
    grid-column: 2 / 5;
}

.read-checkbox {
    height: 22px;
}

#read-text {
    width: 80px;
}
.yes {
    background-color: lightgreen;
    border: 2px solid green;
}

.no {
    background-color: lightcoral;
    border: 2px solid red;
}

.trash-icon { 
    fill: white;
    transition: 0.1s;
}

.trash-icon:hover {
    fill: red;
    cursor: pointer;
}

.trash-icon:active {
    fill: darkred;
}

.form-container {
    border: 4px solid #6E6571;
    border-radius: 8px;
    min-width: 300px;
    background-color: #7C7A80;
    color: #F4F3F5;
    height: 256px;
    padding: 12px;
    gap: 8px;
}

#new-book-form {
    display: grid;
    gap: 16px;
}

#readStatus {
    height: 22px;
}

.form-btn {
    width: 164px;
    height: 22px;
    justify-self: center;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
}

.form-btn:hover {
    cursor: pointer;
    background-color: #c0c0c0;
    border: 1px solid #c0c0c0;
}

.form-btn:active {
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

input {
    margin-top: -12px;
}