body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 19fr;
    height: 100vh;
    width: 100%;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background-color: blue;
    font-size: 48px;
    padding-top: 16px;
    padding-bottom: 8px;
    text-align: center;
}

.container {
    background-color: green;
    display: grid;
    padding: 128px;
    padding-top: 36px;
    padding-bottom: 16px;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    overflow: auto;
    gap: 36px;
}

.book-container {
    border: 2px solid black;
    background-color: brown;
    height: 350px;
}